#ctStructure{
    min-height: 250px;
}

#ctTitle{
    width: 100%;
    padding: 10px 1%;
    font-size: 40px;
}

#ctContent{
    margin: 20px;
}

.note-editor {
    margin-top: 20px;
    margin-bottom: 20px;
}

table, tr, td {
    font-size: 20px;
    width: 100%;
    padding: 50px;
    border-collapse: collapse;
}

td:first-child{
    width: 30%;
    text-align: left;
}

td:last-child{
    width: 50%;
}