#fStructure{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	margin: 15px 2%;
	width: 95%;
	min-height: 250px;
}

#fSTitle{
    padding: 5px 1% 15px 1%;
	width: 98%;
	font-size: 40px;
}

a {
    color: #294139;
}

#fListContainer{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	padding: 5px 0.5%;
	min-height: 200px;
	width: 99%;
	margin-bottom: 40px;
}

/*table configuration starts*/
table, tr, td {
	font-size: 20px;
	text-align: center;
	padding: 5px 0px;
	overflow-x: hidden;
	table-layout: initial;
	width: 100%;
	border-collapse: collapse;
}

th{
	padding: 5px 10px;
	text-align: left;
	font-size: 30px;
	background-color: #458e77;
	border-collapse: collapse;
}
 
table{
	width: 100%;
}

tr:nth-child(2){
	font-weight: bold;
}

tr:last-child{
	font-weight: bold;
	text-align: right;
}

tr:nth-child(even){
	background-color: #b2c3af;
}

tr:nth-child(odd){
	background-color: #a3b79f;
}

td:nth-child(1){
	padding-left: 10px;
	text-align: left;
	width: 50%;
}

td:nth-child(2){
	text-align: left;
	width: 20%;
}

td:nth-child(3){
	width: 10%;
}

td:nth-child(4){
	width: 10%;
}

td:nth-child(5){
	width: 10%;
}
/*table configuration ends*/