
body{
    background-image: url("../../resource/bg.png") !important;
    font-family: Tahoma;
}
#upSpacer{
    height: 13%;
    width: 100%;
}


#container{
    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 30px;
    width: 450px;
    min-height: 650px;
    text-align: center;

    border-radius: 5px;
}

#logo{
    margin-top: 10px;
    width: 450px;
    height: 200px;
}

img{
    max-width: 85%;
    max-height: 80%;
}

.logo{
    width: 450px;
    height: 200px;
}

#title{
    width: 100%;	
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#buttonBox{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#Button{
    position: relative;
    color: #004a04;
    font-family: Tahoma;
    width: 80%;
    font-size: 25px;
    margin-bottom: 10px;
}

#util{
    font-size: 25px;
    width: 100%;
    margin: 10px auto;
}

#socmedLogo{
    margin: auto;
    width: 50px;
    height: 50px;
}

.socmed{
    width: 50px;
    height: 50px;
}

table#soc{
    text-align: center;
    font-size: 30px;
    table-layout: fixed;

    margin: auto;
}

table#subs{
    font-size: 25px;
    table-layout: fixed;

    margin: auto;
}

td#subs{
    overflow-x: hidden;
    padding: 25px 0px 25px 25px;
}