#structure{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px 2.5%;
    width: 95%;
    min-height: 250px;
}

#sTitle{
    position: relative;
    padding: 5px 0.5%;
    width: 99%;
    font-size: 40px;
    border-bottom: solid black 5px;
}

#sMore{
    position: relative;
    padding: 5px 0.5%;
    width: 99%;
    height: 40px;
    text-align: right;
}

.addModuleNameField {
    
    width: 100%;
    display: block;
    font-size: 24px;
}

.addModuleNameLabel {
    display: block;
    font-size: 32px;
}

.submitAddModuleButton {
    margin-top: 20px;
    width: 100%;
}

#sButton{
    position: relative;
    padding: 5px 0.5%;
    height: 34px;
    min-width: 7%;		
    background-color: #61b29b;
    color: #004a04;
    font-family: Tahoma;
}

#sDisp{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px 12.5px;
    width: 100%-25px;
    min-height: 210px;
    /*overflow:hidden;*/
}

#sFrame{
    position: relative;
    margin-right: 5px;
    padding: 0px;
    border-radius: 5px;
    max-width: 200px;
    max-height: 200px;
    margin: 13px;
    background-color: #a3b79f;
    border: solid .3vw white;
    overflow: hidden;
}

#sFrame:active{
    border: solid 3px #333;
}

.frame{
    width: 200px;
    height: 200px;
}

#descSeparator{
    width: 100%;
    height: 20px;
}

#descTitle{
    position: relative;
    padding: 5px 2%;
    font-size: 40px;
}

#descImg{
    position: relative;
    margin-top: 20px; 
    margin-bottom: 50px; 
    margin-left: auto; 
    margin-right: auto; 
    max-height: 500px;
    max-width: 500px;

}
.aFrame.moduleImage > .overlay{
    background-color: rgba(16, 90, 20, .5);
}

.desc{
    max-width: 500px;
    max-height: 500px;
}

#descBox{
    position: relative;
    border-radius: 5px;
    /*
    width: 10.28vw;
    height: 20vh;
    */
    margin: 10px 10%;
    padding: 15px;
    min-height: 150px;
    background-color: #a3b79f;
    border: solid 3px white;
}

#descButtonBox{
    position: relative;
    border-radius: 0px 0px 5px 5px;
    /*
    width: 10.28vw;
    height: 20vh;
    */
    padding: 10px;
    padding-bottom: 0px;
    margin-top: 30px;
    margin-bottom: -15px;
    width: 100%;
}

table, tr, td {
    padding: 5px 0px;
    overflow-x: hidden;
    table-layout:fixed;
    width: 100%;
}