/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2016, 3:47:40 AM
    Author     : Deni Barasena
*/

html {
    position:relative;
    min-height:100%;
    height: 100vh;
    background-color: white;
}

body {
    /*background-color: #7a7a7a;*/
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    min-height:100%;
    height: 100vh;
    overflow: hidden;

}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.hidden{
    display: none;
}

.header {
    height: 16vh;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 84vh;
}

.normalHeight {
    height: 64vh;
}

.sequenceHeight {
    height: 20vh;
}

.scenesHeight {
    height: 48vh;
}

.sceneContentHeight {
    height: 36vh;
}

#projectCol {
    display: inline-block; 
    width: 20%; 
    float: left;
}

#mainCol {
    display: inline-block; 
    width: 50%; 
    float: left;
}

#propertiesCol {
    display: inline-block; 
    width: 30%; 
    float: right;
}

#fileItemPath {
    font-size: larger;
}

#sceneContentName {
    margin: 5px;
    margin-left: -5px;
    font-size: large;
}

.noHeight {
    height: 0vh;
}

.noMargin {
    margin: 0px;
}

.noPadding{
    padding: 0px;
}
.row {
    margin: 0px;
}

#canvasRow{
    position: relative;
}

#canvas {
    display: block;
    padding: 0;
    margin: 0;
}

.sequenceCollapseButton {
    position: absolute;
    bottom: -1px;
    left: 0px;
    cursor: row-resize;
    z-index: 15;
    width: 180px;
    border-bottom: 40px solid #aad0c5;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0px;
}
.sequenceCollapseButton > span {
    color: #004a04;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: 22px;
    top: 5px;
}

.projectCollapseButton {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    height: 100%;
    margin: 0px;
    border-radius: 0px;
    cursor: col-resize;
    z-index: 15;
}

.propertiesCollapseButton {
    position: absolute;
    top: 00px;
    right: 0px;
    padding: 0px;
    height: 100%;
    margin: 0px;
    border-radius: 0px;
    cursor: col-resize;
    z-index: 15;
}

.border {
    border: solid #004a04 1px;
}


#sceneContentRow {
    overflow: hidden;
}

#sceneContentData {
    max-height: none;
    overflow-x: hidden;
    text-align: left;
    padding-left: 20px;
}

#sceneContentData > ul > li {
    text-align: left;
}

.bold {
    font-weight: bolder;
}

.sceneContentGhost {
    background-color: #aaaaaa
}

#sceneContentList > li {
    padding: 2px;
    margin: 2px;
    border: none;
    color: #004a04;
    background-color: transparent;
    border: solid transparent 1px;
    cursor: pointer;
}
#sceneContentList > li:hover{
    border: solid #004a04 1px;
    border-radius: 3px;
}

#sceneContentList > li.activee{
    border-radius: 0px;
    border: solid #004a04 1px;
    border-radius: 3px;
    background-color: transparent;
}

.sceneDiv {
    margin: 5px 10px 0px 20px; 
    max-height: none;
    max-width: none;
    color: #004a04;
    cursor: default;
}

.deleteSceneButton {
    position: absolute;
    top: 1%;
    left: 0%;
}

.sceneThumbnailCanvas {
    position: absolute;
    margin-left: 0px;
    pointer-events: none;
    width: 100%;
    height: auto;
}

.sceneThumbGroup {
    float: left;
    position: relative;
    width: 95%;
    height: 100px;
    border: solid #004a04 1px;
    margin-bottom: 5px;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}

#scenePanel {
    max-height: none;
    overflow-x: hidden;
}

#scenePanelHeading {
    overflow: hidden;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid black 3px;
}

#sceneContentHeading {
    overflow: hidden;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid black 3px;
}

#addSceneButton {
    background-color: #aad0c5;
    color: #004a04;
    font-family: Tahoma;
    font-size: 15px;
    border: solid 3px whitesmoke;
    margin: 10px 0px;
    width: 80%;
    min-width: 50px;
    overflow: hidden;
}
#addSceneButton:hover {
    color: #105a14;
    background-color: #e0e8e0;
    border: solid 3px white;
}
#addSceneButton:before {
    border: solid 1px white;
}

.sceneNameDiv {
    font-size: x-large;
    min-height: 10px;
    text-align: left;
    margin-bottom: -5px;
}

.propertiesRow {
    margin: 3px 0px 3px 0px;
}

#propertiesPanel {
    overflow-x: hidden;
    max-height: none;
    padding-left: 10px;
}

#propertiesHeading {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid black 3px;
}

.propertiesRowGroupHeader {
    text-align: left;
    display: block;
    margin-top: 10px;
    width: 98%;
    background-color: #fff;
}

.propertiesRowGroupHeader:focus {
    outline: 0;
}

#sequenceRow {
    overflow-x: scroll;
    text-align: left;
    white-space: nowrap;
    padding: 10px;
    padding-left: 15px;
    margin-top: 1px;
}

.actionRow {
    margin: 3px;
}

.sequenceList {
    float: left;
}

.frameListItemActive {
    border-top: 10px solid #e0e8e0;
    vertical-align: top;
    padding-right: 20px;
    margin-top: 10px;
    margin-left: 15px;
}

.frameListItem {
    border-top: 10px solid #d0d8d0;
    vertical-align: top;
    padding-right: 20px;
    margin-top: 10px;
    margin-left: 15px;
}

.frameListItemHead {
    vertical-align: top;
    margin-top: 20px;
    margin-left: 15px;
}

.frameGroup {
    position: relative;
    text-align: left;
    margin-top: -22px;
    margin-left: -20px;
}

.frameButton {
    position: relative; 
    z-index: 1;
}

.actionGroupCollapseButton {
    padding: 0px 5px;
    position: absolute;
    left: 3px;
    top: 37px;
}

.actionBoxActive {
    padding: 5px;
    overflow: hidden;

    background-color: #ebedeb;
    border: 6px solid #e0e8e0;

    margin-bottom: 10px;

    margin-left: -15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.actionGroupActive {
    position: relative;
    display: inline-block; 
    min-width: 100px;
    max-width: 200px;

    margin-right: 15px;
    margin-top: 15px;
    vertical-align: top;
    border-left: 10px solid #e0e8e0 !important;
    padding-left: 5px;
    padding-bottom: 0px;
    z-index: 0;
}

.actionBox {
    padding: 5px;
    overflow: hidden;

    background-color: #f0f2f0;
    border: 6px solid #d0d8d0;

    margin-bottom: 10px;

    margin-left: -15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.actionGroup {
    position: relative;
    display: inline-block; 
    min-width: 100px;
    max-width: 200px;


    margin-right: 15px;
    margin-top: 15px;
    vertical-align: top;
    border-left: 5px solid #d0d8d0 !important;
    padding-left: 10px;
    padding-bottom: 0px;
    z-index: 0;
}

.actionGroup:focus {
    background-color: activeborder; 
}

.actionObject {
    font-weight: bold;
}

.actionOp {
    font-style: italic;
}

.actionVal {

}

.modal-backdrop {
    opacity: .1;
}

.modal-header {
    border-bottom: none;
    background-color: transparent;
    padding-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-title {
    text-align: left;
}

.modal-body {
    background-color: transparent;
    padding: 5px 10px 10px 10px;
}

.modal-content-title {
    background-color: transparent;
    text-align: left;
    padding-left: 10px;
}

.modal-container {
    background: #fefefe;
    min-height: 250px;
    margin: 5px;
    padding: 5px;
    border: solid 1px black;
}

.modal-footer {
    padding-top: 0px;
    background-color: transparent;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modal-content {
    border-radius: 6px;
    background-color: #e0e2e0;
}

.fileList {
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.fileItem {
    width: 100px;
    min-height: 100px;
    vertical-align: top;
    text-align: center;
    padding: 5px;
    margin: 4px;
    border: solid 1px transparent;
}

.fileItem:hover{
    border: solid 1px blue;
}

.itemActive {
    border: solid 1px blue;
    background-color: #fcfcfc;
}

.fileItemLabel {
    min-width: 90px;
    word-wrap: break-word;
    margin-bottom: 0px;
    margin-top: 2px;
}

.fileItemImage {
    vertical-align: middle;
    max-height: 70px;
}

.fileItemFolder {
    vertical-align: middle;
    border: none;
    max-height: 70px;
}

.fileItemFileContainer {
    height: 70px;
    line-height: 70px;
}

.propertiesImagePreview {
    margin: auto; 
    border: 2px solid black; 
    max-height: 200px; 
    min-width: 150px;
    width: auto;
}

.breadcrumbButton {
    margin: 3px;
    padding: 5px;
}

#toolbarRow {
    position: relative;
}

#toolbar {
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    border-top: .4vh solid black;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

#toolbar > ul > li > a {
    margin: 0px;
    padding: 1vh;
}

#toolbar > ul > li {
    margin: 0px;
}

#accountBar > button {
    font-size: 1vh;
    padding: 1vh;
}

#toolbarPuller {
    position: absolute;
    bottom: 0px;
    left: 50%;
}

#rootContent {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.noSelect {     
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;  
}

html {     
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

input, textarea {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;  
}

.dropbox {
    border: dashed black 1px;
}

.leftOfActionGroup {
    position: absolute;
    left: -20px;
    height: 100%;
    width: 20px;
}

.rightOfActionGroup {
    position: absolute;
    right: -20px;
    height: 100%;
    width: 20px;
}

#tabRow {
    padding-top: 1px;
    text-align: left;
    background-color: #697e78;
}

.tabItem {
    display: inline-block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

.tabListItem {
    color: #004a04;
    margin: 0px 5px;
}

.trapezium {
    display: inline !important;
    border-bottom: 30px solid #a0a9a0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: auto;
    cursor: pointer;
}

.trapezium:hover {
    border-bottom: 30px solid #e0e8e0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: auto;
}


.trapezium.activee{
    border-bottom: 30px solid #aad0c5;
    pointer-events: none;
}

.trapezium > a {
    padding-top: 4px !important;
    pointer-events: none;
    color: #ccc;
    font-size: 14px;
    font-weight: 600;
}

.trapezium:hover > a{
    color: #004a04;
}

.trapezium.activee > a{
    color: #004a04;
    font-weight: 900;
}

.toolSeperator {
    height: 26px;
    float: left;
    border-left: solid 2px #004a04;
    margin: 2px 5px;
}

#title {
    margin: .1%; 
    display: inline-block; 
    float: left; 
    font-size: 32px;
    width: auto;
    height: 10vh;
}

#subtitle {
    margin: .1vw; 
    margin-top: 4vh; 
    display: inline-block; 
    float: left; 
    font-size: 16px;
}

#signBar {
    position: absolute;
    right: .6vw;
    font-size: 1vh;
    bottom: 6vh;
}

#accountBar {
    position: absolute;
    right: 0px;
    margin: 1vh 1vw;
}

#copyrightBar {
    position: absolute;
    right: 0px;
    bottom: 30px;
    padding: 10px;
}

.modal-dialog {
    width: auto;
    min-width: 600px;
    max-width: 50vw;
    display: inline-block;
}

.modal-content {
    display: inline-block;
    width: 100%;
    max-width: 50vw;
}

#playerCanvas {
    max-width: 100%;
}

.dropdown-menu > li.disabled > a {
    color: lightgray !important;
}

.dropdown-menu > li.disabled > a:hover {
    background-color: transparent !important;
}
#toolbarList > li > a,
#toolbarList > li > a:hover,
#toolbarList > li > a:focus {
    border-radius: 0px;
    color: black;
}
#toolbarList > .open > a,
#toolbarList > .open > a:hover,
#toolbarList > .open > a:focus,
#toolbarList > li > a:hover,
#toolbarList > li > a:focus {
    border-radius: 0px;
    color: black;
    background-color: #f0f2f0;
    border-color: transparent;
}
#toolbarList > li.dropdown .dropdown-menu {
    background-color: #fafbfa;
    border-color: whitesmoke;
}
#toolbarList > li.dropdown .dropdown-menu > li > a {
    color: black;   
}
#toolbarList > li.dropdown .dropdown-menu > li > a:hover,
#toolbarList > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #f0f2f0;
}



#diagram {
    position: relative;
    background-color: #fbfcfb; 
    width: 100%; 
    height: 100%;

    background-size: 20px 20px;
    background-image: linear-gradient(to right, lightgray 8%, lightgray 1%, transparent 1%), linear-gradient(to bottom, lightgray 8%, lightgray 1%, transparent 1%);
    overflow: hidden;
}

#diagramSVG {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    overflow: visible;
}

#diagramCamera {
    position: absolute;
    zoom: 1;
    width: 100%;
    height: 100%;
}

.diagramNode {
    position: absolute;
    min-width: 200px;
    min-height: 30px;
    border: 3px solid #004a04;
    border-radius: 10px; 
    color: #004a04;
    background-color: rgba(210,215,210,0.9);

}

.diagramNode.small {
    min-width: 100px; 
    font-size: 100%;
}

.flowInput {
    position: absolute;

    width: 15px;
    height: 15px;
    left: -9px;
    top: 7px;
    border: 3px solid #004a04;
    border-radius: 10px;
    background-color: orange;
}
.nodeHeader {
    position: relative;
    height: 30px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.nodeName {
    display: inline-block;
    font-size: large;
    font-weight: bold;
    vertical-align: middle;

    float: left;
}
.flowOutput {
    position: absolute;

    width: 15px;
    height: 15px;
    right: -8px;
    top: 7px;
    border: 3px solid #004a04;
    border-radius: 10px;
    background-color: orange;

    cursor: pointer;
}
.nodeContent {
    clear: both;
    color: #004a04;
    border-top: 3px solid #004a04;
    background-color: rgba(250,250,250,0.7);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;
    width: 100%;
}

.nodeLabel {
    text-align: left;
    display: block;
    font-size: larger;
    width: 100%;
    overflow: hidden;
    cursor: default;
}

.nodeField {
    display: block;
    text-align: left;
    padding: 3px;
    width: 100%;
    overflow: hidden;
}
.nodeField > input{
    width: 100%;
}
.nodeField > select{
    width: 100%;
}

.flowDataInput {
    position: absolute;

    left: -16px;
    top: 10%;
    width: 15px;
    height: 15px;

    border: 3px solid #004a04;
    border-radius: 10px;
    background-color: lightblue;

    cursor: pointer;
}

.nodeContentItem {
    position: relative;
    margin-top: 2px;
    margin-bottom: 4px;
}

.diagramNode.active > .nodeContent > .flowOutputLabel > .flowOutput, 
.diagramNode.active > .nodeContent > .flowOutputLabel > .flowInput {
    border: 3px solid blue;
}

.diagramNode.active > .nodeContent > .nodeContentItem > .flowDataOutput, 
.diagramNode.active > .nodeContent > .nodeContentItem > .flowDataInput {
    border: 3px solid blue;
}

.flowOutputLabel {
    position: relative;
    padding-right: 3px;
    text-align: right;
    font-size: larger;
    cursor: default;
}

.flowOutputLabel > .flowOutput {
    right: -16px;
    top: 5px;
}
.nodeContent > .seperator {
    height: 1px;
    border: 1px solid lightgray;
    margin-top: 4px;
}

.diagramNode.active {
    z-index: 10;
    border: 3px solid blue;
}

.diagramNode.active > .nodeContent {
    border-top: 3px solid blue;
}

.diagramNode.active > .nodeHeader > .flowOutput, 
.diagramNode.active > .nodeHeader > .flowInput {
    border: 3px solid blue;
}

#diagramSVG path{
    cursor: pointer;
}

.propFieldContainer {
    padding: 0 5px 0 0;
}

.propLabel {
    margin-top: 3px;
    text-align: left; 
    display: block;
}

.propDualButtonContainer {
    padding: 0 2px 0 2px;
}

.propDualFieldContainer {
    padding: 0 5px 0 0; 
    text-align: left;
}

.propField {
    width: 100%;
}
.fieldText {
    width: 100%;
}
.fieldFloat {
    width: 100%;
}
.fieldInt {
    width: 100%;
}
.fieldSlider {
    width: 100%;
}
.fieldDropdown {
    width: 100%;
}
.fieldDropdownItem {
    width: 100%;
}
.fieldLink {
    width: 100%;
    float: left;
}
.fieldLinkButton {
    width: 20%;
    float: right;
    margin: auto;
    overflow: hidden;
}
.fieldColor {
    width: 100%;
}
.fieldSeperator {
    width: 100%;
    padding-right: 10px;
}
.fieldLabel {
    text-align: left;
}
.fieldButtonLabel {
    text-align: left; 
    margin-left: 10px;
}
.fieldButton {
    width: 90%;
}
.fieldImageText {
    width: 60%; 
    float: left;
}
.fieldImageButton {
    width: 35%; 
    float: right; 
}
.fieldRichTextButton {
    width: 100%;
}
.fieldRichText {
    width: 100%;
}

.fieldActionDropdownGroup {
    width: 100%;
}

.fieldActionDropdown {
    padding: 3px;
    width: 100%;
}

.deleteSceneIcon:before{
    content:"\e020";
}

.undoIcon:before{
    content:"\e091"
}

.redoIcon:before{
    content:"\e092"
}

.addShapeIcon:before{
    content:"\e081"
}

.addButtonIcon:before{
    content:"\e067"
}

.addTextIcon:before{
    content:"\e243"
}

.uploadImageIcon:before{
    content:"\e060"
}

.bringToFrontIcon:before{
    content:"\e093";
}

.bringToBackIcon:before{
    content:"\e094";
}


.insertSceneIcon:before{
    content:"\002b";
}

.deleteIcon:before{
    content:"\e020";
}

.newFolderIcon:before{
    content:"\e118";
}

.downloadIcon:before{
    content:"\e025";
}

.renameIcon:before{
    content:"\270f";
}



/*//---------------------------
//---------------------------
//---------------------------*/

.fieldRichText {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

#playerDataTable {
    width: 100%;
}

#playerDataTable > tbody > tr > th {
    text-align: left;
    width: 25%;
}
#playerDataTable > tbody > tr > td {
    text-align: left;
    width: 25%;
}

#inputPromptField {
    font-size: larger;
    min-height: 40px;
    padding: 10px;
    width: 100%;
}

#inputPromptModal > .modal-dialog {
    margin-top: 35vh;
}

.fieldAudioText {
    width: 60%; 
    float: left;
}
.fieldAudioButton {
    width: 35%; 
    float: right; 
    margin: auto;
}

.fileItemAudio {
    vertical-align: middle;
    border: none;
    max-height: 70px;
}
.propActArrContent {

}
.propArrContent {

}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 0;
    margin-top: -6px;
    margin-right: -1px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    margin-right: -10px;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px ;
    border-left-color: #ccc;
    margin-top: 5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.fieldAddActionButton {
    width: 90%;
    margin-left: 5% !important;
}

.propActionGroup {
    margin: 10px;
    padding: 5px;
    padding-top: 2px;
    border: solid 1px lightgray;
    background-color: #fafbfa;
    border-radius: 5px;
}
.propActionGroupName {
    display: inline-block;
    text-align: center;
    font-size: large;
    cursor: default;
}
.propActionGroupContextMenu {
    display: inline-block;
    float: right;
}

.fieldAddActionDropdown {
    left: 5%;
    right: 5%;
}

.propActionGroup > div:first-child {
    padding-bottom: 3px;
    margin-bottom: 8px;
    border-bottom: solid 1px lightgray;

}

#propertiesPanel > div > div > div > h2 {
    font-size: large;
}

.flowDataOutput {
    position: absolute;

    width: 15px;
    height: 15px;
    right: -16px;
    top: 10%;

    border: 3px solid #004a04;
    border-radius: 10px;
    background-color: lightblue;

    cursor: pointer;
}


.fieldImageRowContainer {
    padding: 8px;
    border: solid black 3px;
    background-image: linear-gradient(45deg, #c0c0c0 25%, transparent 25%), linear-gradient(-45deg, #c0c0c0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #c0c0c0 75%), linear-gradient(-45deg, transparent 75%, #c0c0c0 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.rightDropdown {
    left: 100%; 
    border-top-left-radius: 0px !important; 
    border-top-right-radius: 6px !important;
}

#recordTool.recording {
    color: red;
}

#recordToolBadge {
    font-family: Tahoma;
}

#tagEditorFields {
    display: flex;
    flex-direction: row;
}
#tagEditorFields > div {
    text-align: left;
    margin: 0px 10px;
}
.tagEditorField {
    margin: 0px 0px 5px 0px;
}
.tagEditorField > input {
    width: 100%;
}
.tagEditorField > input[type='checkbox'] {
    vertical-align: middle;
    margin-bottom: 6px;
    margin-left: 3px;
    width: inherit;
}
.tagEditorField > select {
    width: 100%;
}

.tagEditorField.disabled > label {
    color: gray;
}

.jscolor[disabled] {
    pointer-events: none;
    background-color: rgb(235, 235, 228) !important;
    border: solid #aeaeae 1px;
    padding: 2px;
}

select[disabled] {
    background-color: rgb(235, 235, 228) !important;
    border: solid #aeaeae 1px;
}

#tagEditorContent {
    overflow-y: scroll;
}

#tagEditorContent > table {
    width: 100%;
}
#tagEditorContent > table > thead > tr > th:first-chlid{
    width: 160px;
}
#tagEditorContent > table > thead > tr {
    cursor: default;
}

#tagEditorContent {
    height: 200px;
    max-height: 200px;
    min-height: 200px;
}

#tagEditorContentBody > tr.active {
    background-color: lightgray;
}

#tagEditorContentBody > tr > td {
    text-align: left;
    color: gray;
    font-style: italic;
}
#tagEditorContentBody > tr.custom > td {
    color: black;
    font-style: normal;
}

#tagEditorContentBody > tr > td:first-child {
    width: 160px;
    word-break: break-all;
    padding-right: 10px;
}

#tagEditorContentBody > tr:hover {
    cursor: default;
}

#tagEditorContentBody > tr.custom:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.notifyjs-bootstrap-base {
    opacity: .7 !important;
    text-align: left !important;
}
.notifyjs-bootstrap-base > span {
    font-weight: normal !important;
}

#richTextModalContent, #linkerSyntaxModalContent, #variableCallModalContent {
    text-align: left;
    margin: 20px;  
    width: calc(100% - 40px); 
    min-height: 200px;
    height: auto;
    padding: 15px;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
}
#richTextModalContent > div, #linkerSyntaxModalContent > div, #variableCallModalContent > div {
    margin-bottom: 8px;
}

.noHeader #toolbarRow {
    height: 5vh;
}
.noHeader .fullHeight {
    height: 95vh;
}
.noHeader #scenesRow {
    height: 55vh;
}
.noHeader #sceneContentRow {
    height: 40vh;
}
.noHeader #logo {
    display: none;
}

body {
    background-color: #f5f7f5;
}

.panelHeading {
    text-transform: capitalize;
    background-color: #aad0c5;
    color: #004a04;
    cursor: default;
}

#sceneContentName {
    text-transform: capitalize;
    cursor: default;
    color: #004a04;
}

.sceneThumbGroup > button {
    border: none;
    background-color: transparent;
    color: #004a04;
}
.sceneThumbGroup > button:hover {
    border: none;
    background-color: transparent;
    color: #004a04;
}
.sceneThumbGroup.active {
    border: solid #8ab0a5 1px;
}
.sceneThumbGroup:hover{
    border: solid #aad0c5 1px;   
}
.sceneThumbGroup.active > button{
    color: #8ab0a5;
}
.sceneThumbGroup > button:hover{
    color: red;
    background-color: transparent;
}
.sceneThumbGroup:hover > button:hover{
    color: red;
    background-color: transparent;
}

button:focus{
    outline: none !important;
}
button{
    outline: none !important;
}
#toolRow {
    text-align: left;
    background-color: #d1d4d1 ;
}
.toolItem {
    display: inline-block;
    float: left;
    margin: 1px 2px;
    color: #004a04;
    padding: 2px 8px;
    background-color: #aad0c5;
    border: solid whitesmoke 2px;
    border-radius: 2px;
}
.toolItem:hover, .toolItem:focus{
    background-color: #d0e0d0;
    color: #105a14;
    border: solid white 2px;
}
.toolItem:disabled {
    background-color: #f0f8f0;
    color: #406a44;
    border: solid white 2px;
}
.toolItem:hover:disabled {
    background-color: #f0f8f0;
    color: #406a44;
    border: solid white 2px;
}

#deleteTool:hover:enabled {
    color: red;
}
#deleteDiagramTool:hover:enabled {
    color: red;
}
.panelPuller {
    background: transparent;
    border: solid transparent 1px;
}
.panelPuller > span {
    position: absolute;
    width: 4px;
    color: #004a04;
    top: 15px;
}
.propertiesCollapseButton > span {
    left: -13px;
}
#sequenceRow {
    background-color: #f5f7f5;
}
.frameButton {
    background-color: #aad0c5;
    color: #004a04;
    border: solid #e0e8e0 2px;
    border-radius: 4px;
}
.frameButton:hover {
    background-color: #d0e0d0;
    color: #004a04;
    border: solid white 2px;
    border-radius: 4px;
}

.frameButton.active, .frameButton:active {
    background-color: #caf0e5;
    color: #004a04;
    border: solid white 2px;
    box-shadow: none;
    border-radius: 4px;
}

.actionBox .actionRow {
    color: #004a04;
}
.actionBoxActive .actionRow {
    color: #206a24;
}
.dropdown-menu, .dropdown-submenu {
    background-color: #fafbfa;
    color: black;
}
.dropdown-menu > li > a {
    color: black;
    cursor: pointer;
}
.glyphicon {    
    line-height: inherit;
}
#toolbarList {
    background-color: #fafbfa;
}
#propertiesPanel {
    color: #004a04;
}

#fileChooserDeleteButton,
#fileChooserNewFolderButton,
#fileChooserRenameButton,
#fileChooserDownloadButton,
#tagEditorAddButton,
#tagEditorRemoveButton,
#uploadFileButton,
#selectFileButton,
#inputPromptSubmitButton,
.fieldButton,
.fieldAddActionButton,
.fieldAudioButton, 
.fieldImageButton,
.fieldLinkButton, 
.fieldActionDropdown, 
.fieldRichTextButton {
    background-color: #aad0c5;
    color: #004a04;
    border: solid white 2px;
    border-radius: 4px;
}

#fileChooserDeleteButton:hover:enabled,
#fileChooserNewFolderButton:hover:enabled,
#fileChooserRenameButton:hover:enabled,
#fileChooserDownloadButton:hover:enabled,
#tagEditorAddButton:hover:enabled,
#tagEditorRemoveButton:hover:enabled,
#selectFileButton:hover:enabled,
#uploadFileButton:hover:enabled,
#inputPromptSubmitButton:hover:enabled,
.fieldButton:hover:enabled,
.fieldAddActionButton:hover:enabled,
.fieldAudioButton:hover:enabled, 
.fieldImageButton:hover:enabled,
.fieldLinkButton:hover:enabled,
.fieldActionDropdown:hover:enabled, 
.fieldRichTextButton:hover:enabled {
    background-color: #d0e0d0;
    color: #004a04;
    border: solid white 2px;
    border-radius: 4px;
    box-shadow: none;
}


.propField,
.fieldText,
.fieldFloat,
.fieldRichText,
.fieldAudioText,
.fieldImageText, 
.fieldInt, 
.fieldLink, 
.fieldDropdown {
    background-color: #dce6d7;
    border: solid 1px white !important;
    border-radius: 3px;
    padding: 2px 5px;
    outline: none;
}
.fieldColor {
    border: solid 1px white;
    border-radius: 3px;
    padding: 2px 5px;
    width: 100%;
    outline: none;
}
.nav-tabs {
    border-bottom: none;
}
.btn-xs {
    padding: 2px 5px;
}
label, h1, h2, h3, h4 {
    cursor: default;
}

textarea {
    overflow: auto !important;
    outline: none !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

#signBar {
    color: #004a04;
}

*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
    overflow: auto !important;
}
